@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
	box-sizing: border-box;
}

-webkit-scrollbar {
	width: 10px;
	background-color: #181818;
}
-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
}
-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

@layer base {
	.body {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.6;
		@apply text-white bg-dark-primary;
	}

	.react-slideshow-container + ul.indicators {
		margin-top: -15px !important;
		z-index: 10 !important;
		position: relative;
		gap: 10px;
	}

	.react-slideshow-container + ul.indicators::after {
		content: "";
		width: 110px;
		height: 25px;
		top: -10px;
		@apply bg-dark-primary z-0 rounded-t-full absolute block;
	}

	.react-slideshow-container + ul.indicators > li > button::before {
		background-color: #eee !important;
		width: 10px !important;
		height: 10px !important;
	}
	.react-slideshow-container + ul.indicators > li {
		z-index: 10;
	}

	div[aria-roledescription] {
		@apply h-full rounded-3xl;
	}

	div[aria-roledescription] div {
		height: 100% !important;
		@apply overflow-hidden;
	}
}

@layer components {
	.main-page-layout {
		@apply pt-2.5  px-4 grid grid-rows-[75vh_repeat(5,min-content)_30vh] grid-cols-[[full-start]_minmax(6rem,1fr)_[center-start]_repeat(8,[col-start]_minmax(min-content,14rem)_[col-end])_[center-end]_minmax(6rem,1fr)_[full-end]];
	}
}
