@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px; /* Optional: Customize the scrollbar width */
	background-color: #252525; /* Base color */
}

/* Optional: Customize the draggable thumb */
::-webkit-scrollbar-thumb {
	background-color: #888; /* Thumb color */
	border-radius: 8px; /* Optional: Customize the thumb border-radius */
}

/* Optional: Customize the scrollbar track */
::-webkit-scrollbar-track {
	background-color: #252525; /* Track color */
}

* {
	scrollbar-color: #888 #252525;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

-webkit-scrollbar {
	width: 10px;
	background-color: #181818;
}
-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
}
-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

@layer utilities {
	.after {
		content: "";
	}
}

@layer base {
	.body {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.6;
		@apply text-dark-primary bg-dark-primary grid  grid-cols-defaultLayout min-h-screen;
		grid-template-rows: min-content 1fr min-content;
	}

	.react-slideshow-container + ul.indicators {
		margin-top: -15px !important;
		z-index: 10 !important;
		position: relative;
		gap: 10px;
	}

	.react-slideshow-container + ul.indicators::after {
		content: "";
		width: 110px;
		height: 25px;
		top: -10px;

		@apply bg-dark-primary z-0 rounded-t-3xl absolute block;
	}

	.react-slideshow-container + ul.indicators > li > button::before {
		background-color: #eee !important;
		width: 10px !important;
		height: 10px !important;
	}
	.react-slideshow-container + ul.indicators > li {
		z-index: 10;
	}

	.blog-post-markdown article {
		@apply text-dark-primary;
	}

	div[aria-roledescription] {
		@apply h-full;
	}

	div[aria-roledescription] div {
		height: 100% !important;
		@apply overflow-hidden rounded-3xl;
	}
}

@layer components {
	.blog-option.active::after {
		content: "";
		@apply absolute left-1/2 -translate-x-1/2 bottom-0 bg-light-theme  w-10/12 h-1;
	}

	.blog-option:not(:last-child)::before {
		content: "";
		@apply absolute -right-0.5 bg-red-50 opacity-[0.08] top-1/2 w-0.5 h-1/2 -translate-y-1/2;
	}

	.blog-info > * {
		@apply relative;
	}

	.blog-info > *:not(:last-child)::before {
		content: "";
		@apply absolute left-full ml-1 w-1.5 h-1.5 rounded-full bg-dark-highlight top-1/2 translate-x-full -translate-y-1/2;
	}

	.blog-author:not(:first-child)::after {
		content: ",";
		@apply absolute right-0 translate-x-full;
	}

	.footer::after {
		content: "";
		@apply absolute w-full h-0.5 bg-dark-highlight top-0;
	}

	code {
		@apply !text-2xl;
	}
}
