@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
	box-sizing: border-box;
}

@layer base {
	.body {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.6;
		@apply text-white bg-dark-primary;
	}
}

@layer components {
	.main-page-layout {
		@apply grid mt-[6rem] grid-rows-[80vh_repeat(5,min-content)_30vh] grid-cols-[[full-start]_minmax(6rem,1fr)_[center-start]_repeat(8,[col-start]_minmax(min-content,14rem)_[col-end])_[center-end]_minmax(6rem,1fr)_[full-end]];
	}
}
